extends ../layout

block content
    -data=data || {}
    -errors=errors || {}

    div.login.mt-2
        h1 Logowanie
        hr
        form(action='/login', method='POST')
            div.form-group
                label(for='email') Adres email
                //- input.form-control(type='email', id='email', name='email',
                //-     placeholder='Email', value=data.email)
                input.form-control(type='email', id='email', name='email',
                    placeholder='Email', value='admin@gmail.com')
                each error in errors
                    if error.param==='email'
                        small.form-text.text-muted(id='emailHelp')=error.msg
            div.form-group
                label(for='password') Hasło
                //- input.form-control(type='password', id='password', name='password',
                //-     placeholder='Hasło', value=data.password)
                input.form-control(type='password', id='password', name='password',
                    placeholder='Hasło', value='123123')
                each error in errors
                    if error.param==='password'
                        small.form-text.text-muted(id='passwordHelp')=error.msg
            input.btn.btn-success(type='submit', value='Zaloguj')