extends ../layout

block content
    -data=data || {}
    -errors=errors || {}

    div.addpost.mt-2
        a.btn.btn-outline-secondary.my-2(href='/posts') Wróć
        h1 Dodaj wpis
        hr
        form(action='/addpost', method='POST', enctype="multipart/form-data")
            div.form-group
                label(for='title') Tytuł
                input.form-control(type='text', id='title', name='title',
                    placeholder='Tytuł', value=data.title)
                each error in errors
                    if error.param==='title'
                        small.form-text.text-muted(id='titleHelp')=error.msg
            div.form-group
                label(for='description') Opis
                textarea.form-control(type='text', id='description', name='description',
                    placeholder='Opis', rows='5')=data.description
                each error in errors
                    if error.param==='description'
                        small.form-text.text-muted(id='descriptionHelp')=error.msg
            div.form-group.mb-3
                label(for='userselect') Autor
                select.form-control(id='userselect', name='userselect')
                    option(selected) Wybierz użytkownika
                    each user in users
                        option(value=user.uid)=user.displayName
                each error in errors
                    if error.param==='userselect'
                        small.form-text.text-muted(id='userselectHelp')=error.msg
            div.form-group
                input.form-control-file(type='file', id='file', name='file',
                    placeholder='Wybierz plik')
                each error in errors
                    if error.param==='file'
                        small.form-text.text-muted(id='fileHelp')=error.msg
            input.btn.btn-success(type='submit', value='Dodaj wpis')