extends ../layout

block content
    -post_id=id
    
    center
        h1 Czy na pewno chcesz usunąć ten wpis?
        div.card.w-50
            div.card-header.text-center
                h5.card-title.mb-0=post.title
            img.card-img-top(src=post.image alt='Zdjęcie')
            div.card-body
                p.card-text.text-left=post.description
                p.card-text.text-left='Lokalizacja: '
                    a(href='/google/'+post.coordinates)=post.coordinates
                each user in users
                    if post.user===user.uid
                        blockquote.mr-2.text-right
                            small='Autor: '+user.displayName+' ('+user.email+')'
            div.card-footer.text-secondary.text-center
                span=post.date
        div.row.d-inline-flex.mt-2
            a.btn.btn-secondary.mr-2(type='submit', href='/posts') Wróć
            form.ml-2(action='/deletepost/' + post_id, method='POST')
                input.btn.btn-danger(type='submit', value='Usuń')