extends ../layout

block content
    -post_id=id
    -errors=errors || {}
    -data=data || { title: post.title, description: post.description }

    div.editpost.mt-2
        a.btn.btn-outline-secondary.my-2(href='/posts') Wróć
        h1 Edycja wpisu        
        hr
        form(action='/editpost/' + post_id, method='POST')
            div.form-group
                label(for='title') Tytuł
                input.form-control(type='text', id='title', name='title',
                    placeholder='Tytuł', value=data.title)
                each error in errors
                    if error.param==='title'
                        small.form-text.text-muted(id='titleHelp')=error.msg
            div.form-group
                label(for='description') Opis
                textarea.form-control(type='text', id='description', name='description',
                    placeholder='Opis', rows='5')=data.description
                each error in errors
                    if error.param==='description'
                        small.form-text.text-muted(id='descriptionHelp')=error.msg
            input.btn.btn-success(type='submit', value='Edytuj wpis')