extends layout

block content
    -registered = registered || false
    div.home
        p
            if currentUser===null
                if registered
                    h2 Zarejestrowano!
                    p 
                    | Możesz się teraz 
                    a(href='/login') zalogować
                else
                    h2 Witaj!
                    p 
                    | Aby skorzystać z aplikacji musisz się 
                    a(href='/login') zalogować.
            else
                h2 Panel administracyjny
                p 
                | W zakładce 
                a(href='/posts') wpisy 
                | znajdują się wszystkie wpisy od użytkowników.
                br
                | W zakładce 
                a(href='/users') użytkownicy 
                | znajduje się lista wszystkich użytkowników.