doctype html
html
    head
        title='Panel Administracyjny'
        link(rel='stylesheet', href='/css/fontawesome/css/all.min.css')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
        block scripts
            script(src='https://www.gstatic.com/firebasejs/8.2.0/firebase.js')
            script(src='/js/jquery-3.5.1.min.js')
            script(src='/js/bootstrap.min.js')

    body
        div.container
            nav.navbar.navbar-expand-lg.navbar-light.bg-light
                a.navbar-brand(href='/') AdminPanel
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', 
                    aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                div.collapse.navbar-collapse(id='navbarNavAltMarkup')
                    div.navbar-nav
                        if currentUser===null
                            a.nav-item.nav-link(href='/login') Logowanie
                            //a.nav-item.nav-link(href='/register') Rejestracja
                        else
                            a.nav-item.nav-link(href='/posts') Wpisy
                            a.nav-item.nav-link(href='/users') Użytkownicy
                            -user_id=0
                            -users=users || {}
                            each user, index in users
                                if user.uid===currentUser.uid
                                    -user_id=index
                            a.nav-item.nav-link(href='/edituser/' + user_id) Ustawienia
                            form.layout-form(action='/logout', method='POST')
                                a.nav-item.nav-link.text-dark.disabled='Witaj, ' + currentUser.displayName
                                input.btn.btn-outline-danger(type='submit', value='Wyloguj')
            block content