extends layout

block content
    -posts_list=posts_list || {}

    div.posts-container
        div.header.row.mb-0.ml-4.w-100(style='position:relative;')
            h1 Lista wpisów
            a.btn.btn-outline-success.my-2.ml-3(href='/addpost') Dodaj wpis
        if posts_list.length>0
            div.card-columns
                each post, index in posts_list
                    div.card
                        div.card-header.text-center
                            h5.card-title.mb-0=post.title
                        img.card-img-top(src=post.image alt='Zdjęcie')
                        div.card-body
                            p.card-text=post.description
                            p.card-text='Lokalizacja: '
                                a(href='/google/'+post.coordinates)=post.coordinates
                            each user in users
                                if post.user===user.uid
                                    blockquote.mr-2.text-right
                                        small='Autor: '+user.displayName+' ('+user.email+')'
                            div.text-center
                                a.btn.btn-sm.btn-outline-info.mr-2(href='/editpost/' + index) Edytuj post
                                a.btn.btn-sm.btn-outline-danger.ml-2(href='/deletepost/' + index) Usuń post
                        div.card-footer.text-secondary.text-center
                            span=post.date
        else
            p.ml-4 Nie ma jeszcze żadnych wpisów.