extends layout

block content
    -users=users || {}

    div.users
        div.header.row.mb-0.ml-4.w-100(style='position:relative;')
            h1 Lista użytkowników 
            a.btn.btn-outline-success.my-2(href='/adduser') Dodaj użytkownika
        if users.length>0
            table.table.table-striped.table-hover.table-bordered
                thead
                    tr
                        th L.p.
                        th Nazwa
                        th Email
                        th.text-center Edytuj
                        th.text-center Usuń
                tbody
                    each user, index in users
                        tr
                            td=index + 1
                            td=user.displayName
                            td=user.email
                            td.text-center
                                a(href='/edituser/' + index).text-info
                                    i.fas.fa-pen
                            td.text-center
                                a(href='/deleteuser/' + index).text-danger
                                    i.fas.fa-trash
        else
            p.ml-4 Nie ma jeszcze żadnych użytkowników.