@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

a {
    color: #17a2b8;
}

a:hover {
    text-decoration: none;
}

.home, .adduser, .login, .logout, 
.edituser, .addpost, .editpost {
    margin: 0 auto;
    text-align: center;
}

.adduser input, .login input, .edituser input, 
.addpost input, .addpost textarea, .addpost select,
.editpost input, .editpost textarea {
    width: 30%;
    margin: 0 auto;
}

.text-muted {
    color: red !important;
}

.card-columns {
    column-count: 3;
}

@media only screen and (max-width: 992px) {
    .card-columns {
        column-count: 2;
    }
}

@media only screen and (max-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media only screen and (min-width: 768px) {
    .adduser, .edituser,
    .addpost, .editpost {
        position: relative;
    }

    .btn-outline-success {
        position: absolute;
        right: 45px;
    }

    .btn-outline-secondary {
        position: absolute;
        right: 20px;
    }
}

@media only screen and (min-width: 992px) {
    .layout-form {
        position: absolute;
        right: 20px;
        display: inline-flex;
    }
}