extends ../layout

block content
    -data=data || {}
    -errors=errors || {}

    div.adduser.mt-2
        a.btn.btn-outline-secondary.my-2(href='/users') Wróć
        h1 Dodaj użytkownika
        hr
        form(action='/adduser', method='POST')
            div.form-group
                label(for='displayName') Nazwa użytkownika
                input.form-control(type='text', id='displayName', name='displayName',
                    placeholder='Nazwa', value=data.displayName)
                each error in errors
                    if error.param==='displayName'
                        small.form-text.text-muted(id='displayNameHelp')=error.msg
            div.form-group
                label(for='email') Adres email
                input.form-control(type='email', id='email', name='email',
                    placeholder='Email', value=data.email)
                each error in errors
                    if error.param==='email'
                        small.form-text.text-muted(id='emailHelp')=error.msg
            div.form-group
                label(for='password') Hasło
                input.form-control(type='password', id='password', name='password',
                    placeholder='Hasło', value=data.password)
                each error in errors
                    if error.param==='password' || error.param==='password2'
                        small.form-text.text-muted(id='passwordHelp')=error.msg
            div.form-group
                label(for='password2') Powtórz hasło
                input.form-control(type='password', id='password2', name='password2',
                    placeholder='Powtórz hasło', value=data.password2)
                each error in errors
                    if error.param==='password2'
                        small.form-text.text-muted(id='password2Help')=error.msg
            input.btn.btn-success(type='submit', value='Dodaj użytkownika')