extends ../layout

block content
    -user_id=id
    
    center
        h1 Czy na pewno chcesz usunąć użytkownika?
        table.table.table-striped.table-hover.table-bordered.w-50.text-center
            tr
                th Nazwa użytkownika
                th Email
            tr
                td=user.displayName
                td=user.email
        div.row.d-inline-flex
            a.btn.btn-secondary.mr-2(type='submit', href='/users') Wróć
            form.ml-2(action='/deleteuser/' + user_id, method='POST')
                input.btn.btn-danger(type='submit', value='Usuń')