extends ../layout

block content
    -user_id=id
    -errors=errors || {}
    -data=data || { displayName: user.displayName, email: user.email }

    div.edituser.mt-2
        a.btn.btn-outline-secondary.my-2(href='/users') Wróć
        h1 Zmiana danych
        hr
        form(action='/edituser/' + user_id, method='POST')
            div.form-group
                label(for='displayName') Nazwa użytkownika
                input.form-control(type='text', id='displayName', name='displayName',
                    placeholder='Nazwa', value=data.displayName)
                each error in errors
                    if error.param==='displayName'
                        small.form-text.text-muted(id='displayNameHelp')=error.msg
            div.form-group
                label(for='email') Adres email
                input.form-control(type='email', id='email', name='email',
                    placeholder='Email', value=data.email)
                each error in errors
                    if error.param==='email'
                        small.form-text.text-muted(id='emailHelp')=error.msg
            div.form-group
                label(for='password') Hasło
                input.form-control(type='password', id='password', name='password',
                    placeholder='Hasło')
                each error in errors
                    if error.param==='password' || error.param==='password2'
                        small.form-text.text-muted(id='passwordHelp')=error.msg
            div.form-group
                label(for='password2') Powtórz hasło
                input.form-control(type='password', id='password2', name='password2',
                    placeholder='Powtórz hasło')
                each error in errors
                    if error.param==='password2'
                        small.form-text.text-muted(id='password2Help')=error.msg
            input.btn.btn-success(type='submit', value='Zmień dane')